.chatDetails {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  background-color: #cccccc;
}

.chatHeader {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  background-color: #cccccc;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  position: sticky;

  top: 0;
  z-index: 900;

  min-height: 60px;
}

.profilePhoto {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #e0e0e0;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-right: 10px;
}

.textBaseBold {
  font-size: 16px;
  font-weight: 600;
  color: #333333;
  margin: 0;
}

.chatBody {
  flex-grow: 1;
  overflow-y: auto;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.inputSearchContainer {
  display: flex;
  align-items: center;
  flex-grow: 1;
  background-color: #edebeb;
  border-radius: 30px;
  border: 1px solid black;
  padding: 6px 10px;

  gap: 10px;
  width: 70%; /* Adjust this as needed */
  position: relative;
  margin: 0 auto; /* Centers the container horizontally */
}

.inputSearch {
  width: 100%;
  height: 40px;
  background-color: transparent;
  outline: none;
  border: none;
  padding-left: 12px;
  color: black;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 30px;
}

.inputSearch:focus {
  border: none;
  outline: none;
  box-shadow: 0px 0px 5px #1e56a0;
}

.inputSearch::placeholder {
  color: #aaa;
}

.inputSearchIcon {
  color: #737373;
  font-size: 20px;
}

.sendButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;
  margin-left: 10px;
  border-radius: 50%;
}

.sendIcon {
  width: 15px;
  height: 15px;
  transition: all 0.3s;
}

#sendButton:hover svg path {
  fill: #d5eeff;
  stroke: #d5eeff;
}

#sendButton svg path {
  transition: all 0.3s;
}

#sendButton:hover svg path {
  fill: #1e56a0;
  stroke: white;
}
